@media screen and (max-width: 575px) {
  .login__form {
    width: 100%;
  }

  .card {
    width: 90%;
  }

  .card__image {
    height: 250px;
  }

  .map {
    width: 100% !important;
    margin: 0 5px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

  /* main */
  .container,
  .sidebar {
    margin: 10px;
  }

  .login__form {
    width: 90%;
    margin: 20px auto;
  }

  .card {
    width: 45%;
  }


  /* footer */
  .footer {
    grid-template: "copyright icons"/ 1fr 1fr;
  }
}

@media screen and (min-width:768px) and (max-width: 1024px) {

  /* header */
  .header {
    grid-template-columns: 7fr 1fr;
    grid-template-areas: "list  logo"
      "search search";
  }

  .header__navigation {
    display: block;
    padding: 30px 10px;
  }

  .header__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
  }

  .list__mobile,
  .header__menu {
    display: none;
  }

  .header__logo__image {
    width: 60px;
    margin: 10px;
  }

  .header__search__bar {
    width: 60vw;
  }


  /* main */
  .main {
    grid-template: "container container sidebar"
      "container container ...."/ 1fr 1fr 1fr;
  }

  .container,
  .sidebar {
    margin: 10px;
  }

  .login__form {
    margin: 30px auto;
  }


  /* footer */
  .footer {
    grid-template: "copyright icons"/ 1fr 1fr;
  }

  .footer__copyright p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

  /* header */
  .header {
    grid-template-columns: 7fr 1fr;
    grid-template-areas: "list  logo"
      "search search";
  }

  .header__navigation {
    display: block;
    padding: 30px 10px;
  }

  .header__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
  }

  .list__mobile,
  .header__menu {
    display: none;
  }

  .header__logo__image {
    width: 80px;
    margin: 10px;
  }

  .header__search__bar {
    width: 40vw;
  }


  /* main */
  .main {
    width: 80%;
    margin: 0 auto;
    grid-template: "container container sidebar"
      "container container ...."/ 1fr 1fr 1fr;

  }

  .container,
  .sidebar {
    margin: 10px;
  }

  .content__title {
    font-size: 30px;
  }


  /* footer */
  .footer {
    grid-template: "copyright icons"/ 1fr 1fr;
  }

  .footer__copyright p {
    font-size: 20px;
  }


  /* form */
  .login__form {
    transform: scale(1.4)
  }
}


@media screen and (min-width: 1441px) {

  /* header */
  .header {
    grid-template-columns: 7fr 1fr;
    grid-template-areas: "list  logo"
      "search search";
  }

  .header__navigation {
    display: block;
    padding: 30px 10px;
  }

  .header__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
  }

  .list__mobile,
  .header__menu {
    display: none;
  }

  .header__logo__image {
    width: 100px;
    margin: 10px;
  }

  .header__search__bar {
    width: 40vw;
  }


  /* main */
  .main {
    width: 60%;
    margin: 0 auto;
    grid-template: "container container sidebar"
      "container container ...."/ 1fr 1fr 1fr;
  }

  .container,
  .sidebar {
    margin: 10px;
  }


  /* footer */
  .footer {
    grid-template: "copyright icons"/ 1fr 1fr;
  }

  .footer__copyright p {
    font-size: 30px;
  }


  /* form */
  .login__form {
    transform: scale(1.8)
  }
}