@media screen and (min-width: 576px) and (max-width: 767px) {
    /* main */
    .container,
    .sidebar {
        margin: 10px;
    }

    .form {
        width: 400px;
    }


    /* footer */
    .footer {
        grid-template: "copyright icons"/ 1fr 1fr;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    /* header */
    .header {
        grid-template-columns: 7fr 1fr;
        grid-template-areas: "list  logo"
            "search search";
    }

    .header__navigation {
        display: block;
        padding: 30px 10px;
    }

    .header__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
    }

    .list__mobile,
    .header__menu,
    .close {
        display: none;
    }

    .header__logo__image {
        width: 100px;
    }

    .header__search__bar {
        width: 60vw;
    }


    /* main */
    .main {
        grid-template: "container container sidebar"
            "container container ...."/ 1fr 1fr 1fr;
    }

    .container,
    .sidebar {
        margin: 10px;
    }

    .form {
        width: 70%;
    }


    /* footer */
    .footer {
        grid-template: "copyright icons"/ 1fr 1fr;
    }

    .footer__copyright p {
        font-size: 14px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* header */
    .header {
        grid-template-columns: 7fr 1fr;
        grid-template-areas: "list  logo"
            "search search";
    }

    .header__navigation {
        display: block;
        padding: 30px 10px;
    }

    .header__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
    }

    .list__mobile,
    .header__menu,
    .close {
        display: none;
    }

    .header__logo__image {
        width: 120px;
    }

    .header__search__bar {
        width: 40vw;
    }


    /* main */
    .main {
        width: 80%;
        margin: 0 auto;
        grid-template: "container container sidebar"
            "container container ...."/ 1fr 1fr 1fr;

    }

    .container,
    .sidebar {
        margin: 10px;
    }

    .content__title {
        font-size: 30px;
    }

    .form {
        width: 60%;
    }


    /* footer */
    .footer {
        grid-template: "copyright icons"/ 1fr 1fr;
    }

    .footer__copyright p {
        font-size: 20px;
    }
}


@media screen and (min-width: 1441px) {
    /* header */
    .header {
        grid-template-columns: 7fr 1fr;
        grid-template-areas: "list  logo"
            "search search";
    }

    .header__navigation {
        display: block;
        padding: 30px 10px;
    }

    .header__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
    }

    .list__mobile,
    .header__menu,
    .close {
        display: none;
    }

    .header__logo__image {
        width: 100px;
    }

    .header__search__bar {
        width: 40vw;
    }


    /* main */
    .main {
        width: 60%;
        margin: 0 auto;
        grid-template: "container container sidebar"
            "container container ...."/ 1fr 1fr 1fr;
    }

    .container,
    .sidebar {
        margin: 10px;
    }

    .form {
        width: 50%;
    }


    /* footer */
    .footer {
        grid-template: "copyright icons"/ 1fr 1fr;
    }

    .footer__copyright p {
        font-size: 30px;
    }
}