.main {
  grid-template: 'container'/ 1fr !important;
}

.services {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.service {
  height: 380px;
  max-width: 300px;
  padding: 5px 10px;
  margin: 0 10px 20px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  border-radius: 3px;
}

h2.service__title {
  font-size: 2rem;
  margin-top: 40px;
}

.service__title {
  text-align: center;
  color: #00b1e7;
  font-size: 1.5rem;
  margin-top: 20px;
}

.service__image {
  width: 30%;
  margin: 20px auto;
}

.service__text {
  margin: 0 20px;
}

/* map */
#map {
  width: 600px;
  height: 400px;
  border-radius: 5px;
}

.service , #map {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}