.slideshow::-webkit-scrollbar-track,
.slideshow::-webkit-scrollbar {
  border-radius: 10px;
}

.slideshow {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  overflow: auto;
  height: 350px;
  margin-bottom: 40px;
}

.slide {
  position: relative;
  margin: 0 10px;
}

.slide__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 300px;
  padding: 10px;
  display: none;
  position: absolute;
  border-radius: 5px;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.5);
}

.slide__image {
  border-radius: 5px;
  width: 400px;
  height: 300px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.slide:hover .slide__overlay {
  display: flex;
}

.slide__title {
  color: #f5f5f5;
}